{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ task.name }}</h1>

{% if not task.is_bookmark %}
<table class="table table-sm table-bordered align-middle mt-3">
  <tbody>
    <tr>
      <th>Status</th>
      <td>
        {% if task.status == 'Completed' %}
          <span class="badge bg-success">{{ task.status }}</span>
        {% elif task.status == 'InProgress' %}
          <span class="badge bg-warning text-dark">{{ task.status }}</span>
        {% elif task.status == 'Cancelled' %}
          <span class="badge bg-danger">{{ task.status }}</span>
        {% else %}
          <span class="badge bg-secondary">{{ task.status }}</span>
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Started</th>
      <td>{{ task.started_date|date:"d-m-Y"|default:"—" }}</td>
    </tr>

    <tr>
      <th>Created</th>
      <td>{{ task.created_date|date:"d-m-Y" }}</td>
    </tr>

    <tr>
      <th>Updated</th>
      <td>{{ task.updated_date|date:"d-m-Y" }}</td>
    </tr>

    <tr>
      <th>Target</th>
      <td>{{ task.target_date|date:"d-m-Y"|default:"—" }}</td>
    </tr>

    <tr>
      <th>
        {% if task.completed_date %}
          Completed
        {% else %}
          Due
        {% endif %}
      </th>
      <td>
        {% if task.completed_date %}
          <span class="text-success fw-bold">
            {{ task.completed_date|date:"d-m-Y" }}
          </span>
        {% elif task.days_till_upcoming is not None %}
          {% if task.days_till_upcoming == 0 %}
            <span class="text-danger fw-bold">Today</span>
          {% elif task.days_till_upcoming < 0 %}
            <span class="text-muted">—</span>
          {% else %}
            <span class="text-warning fw-bold">
              {{ task.days_till_upcoming }} days left
            </span>
          {% endif %}
        {% else %}
          —
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Action</th>
      <td>          
        <a href="{% url 'tracker:task_update' task.id %}" class="btn btn-sm btn-warning">Edit</a>
        {% if task.status != 'Completed' and task.status != 'Cancelled' %}
        <a href="{% url 'tracker:mark_task_complete' task.id %}" class="btn btn-sm btn-success">Mark Complete</a>
        <form method="post" action="{% url 'tracker:complete_today_task_updates' task.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-secondary">
            Complete Today's Update
            </button>
        </form>
        {% endif %}
        <a href="{% url 'tracker:task_delete' task.id %}" class="btn btn-sm btn-danger">Delete</a></td>
    </tr>
  </tbody>
</table>
<hr />  
{% endif %}

<h3>Add Update</h3>

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label class="form-label">Dates</label>
    <input type="date" id="date-picker" class="form-control">
    {{ form.dates }}   <!-- ONLY ONCE -->
    <small class="text-muted">Click date to add multiple dates</small>
    <div id="selected-dates" class="mt-2"></div>
  </div>

  <div class="mb-3">
    {{ form.template.label_tag }}
    {{ form.template }}
  </div>

  <div class="mb-3">
    {{ form.description.label_tag }}
    {{ form.description }}
  </div>

  <div class="form-check mb-3">
    {{ form.is_check_box }}
    {{ form.is_check_box.label_tag }}
  </div>

  <div class="mb-3">
    {{ form.status.label_tag }}
    {{ form.status }}
  </div>

  <div class="mb-3">
    {{ form.reminder_type.label_tag }}
    {{ form.reminder_type }}
  </div>

  <div class="mb-3">
    {{ form.date_to_remind.label_tag }}
    {{ form.date_to_remind }}
  </div>

  <div class="mb-3">
    {{ form.can_store_reminder.label_tag }}
    {{ form.can_store_reminder }}
  </div>

  <h4>Attach Documents</h4>
  <div id="formset">
    {{ formset.management_form }}
    {% for form in formset %}
      <div class="card mb-2 p-2">
        {{ form.as_p }}
      </div>
    {% endfor %}
  </div>

  <button type="button" class="btn btn-secondary mb-2" id="add-more">Add Document</button> <button type="submit" class="btn btn-success mb-2">Add Update</button>
</form>

<hr>

<h3>Checklist Items</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Target / Completed Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for u in checkbox_updates %}
    <tr>
      <td>{{ u.description|linebreaks }}</td>
      <td>{{ u.date|date:"d-m-Y" }}</td>
      <td>
        {% if u.status == 'Completed' %}
          <p class="text-success">{{ u.status }}</p>
        {% elif u.status == 'InProgress' %}
          <p class="text-warning">{{ u.status }}</p>
        {% elif u.status == 'Cancelled' %}
          <p class="text-danger">{{ u.status }}</p>
        {% endif %}
      
      </td>
      <td>
        <div class="d-flex align-items-center gap-2">
          {% if u.status != 'Completed' and u.status != 'Cancelled' %}
          <form method="POST" action="{% url 'tracker:update_complete' u.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-success btn-sm">Mark Complete</button>
          </form>
          {% endif %}
          <a href="{% url 'tracker:update_edit' u.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
          <a href="{% url 'tracker:update_delete' u.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
          </div>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="3">No checklist items.</td></tr>
    {% endfor %}
  </tbody>
</table>

<hr>

<ul class="list-group mt-3">
  {% for u in updates %}
  <li class="list-group-item">
    <div>
      <strong>{{ u.date|date:"d-m-Y" }}</strong>
      <div class="float-end">
        <a href="{% url 'tracker:update_edit' u.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
        <a href="{% url 'tracker:update_delete' u.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </div>
      <br>
      {{ u.description|linebreaks }}
      {% if u.status == 'Completed' %}
        <p class="text-success fw-bold">— {{ u.status }}</p>
      {% elif u.status == 'InProgress' %}
        <p class="text-warning fw-bold">— {{ u.status }}</p>
      {% elif u.status == 'Cancelled' %}
        <p class="text-danger fw-bold">— {{ u.status }}</p>
      {% endif %}
      {% if u.documents.all %}
      <div class="mt-2 d-flex flex-wrap gap-2">
        {% for doc in u.documents.all %}
          {% if doc.filetype == 'pdf' %}
            <a href="{% url 'tracker:document_view' doc.id %}" class="btn btn-outline-danger d-flex align-items-center">
              <i class="bi bi-file-earmark-pdf-fill me-2"></i> {{ doc.filename }}
            </a>

          {% elif doc.filetype == 'image' %}
            <a href="{% url 'tracker:document_view' doc.id %}">
              <img src="{{ doc.github_url }}" alt="{{ doc.filename }}" style="max-width:100px; border-radius:5px;">
            </a>

          {% elif doc.filetype == 'video' %}
            <a href="{% url 'tracker:document_view' doc.id %}" class="btn btn-outline-dark d-flex align-items-center">
              <i class="bi bi-camera-video-fill me-2"></i> {{ doc.filename }}
            </a>

          {% else %}
            <a href="{{ doc.github_url }}" class="btn btn-outline-secondary d-flex align-items-center">
              <i class="bi bi-file-earmark-fill me-2"></i> {{ doc.filename }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </li>
  {% empty %}
  <li class="list-group-item">No updates yet.</li>
  {% endfor %}
</ul>
{% endblock %}

{% block static %}
<script src="{% static 'js/update.js' %}"></script>
<script src="{% static 'js/update_date.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
{% endblock %}
