{% extends 'tracker/base.html' %}
{% load static %}
{% block content %}
<h1>Edit Update for "{{ update.task.name }}"</h1>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}

  <h4>Edit Documents</h4>
  <div id="formset">
    {{ formset.management_form }}
    {% for form in formset %}
      <div class="card mb-2 p-2">
        {{ form.as_p }}
      </div>
    {% endfor %}
  </div>

  <button type="button" class="btn btn-secondary mb-2" id="add-more">Add Another Document</button>
  <br>
  <button type="submit" class="btn btn-success">Save Changes</button>
  <a href="{% url 'update_list' update.task.id %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}

{% block static %}
<script src="{% static 'js/update.js' %}"></script>
{% endblock %}