body {
    padding: 0 8px;
}
h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}
.table td, .table th {
    vertical-align: middle;
    font-size: 0.9rem;
}
@media (max-width: 768px) {
    .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .navbar a {
    font-size: 0.9rem;
    padding: 4px 6px !important;
    }
    h2, h3 {
    font-size: 1.2rem;
    }
}