<li>
    <div
        class="node node-{{ node.status|lower }} {% if node.status == 'CANCELLED' %}cancelled-node{% endif %}"
        data-title="{{ node.title|escape }}"
        data-description="{{ node.description|default:''|escape }}"
        onclick="showNodeDetails(this)"
    >
        <strong>{{ node.title }}</strong>

        {% if node.status == "CURRENT" %}
            <span class="status-badge">
                {{ node.get_status_display }}
            </span>
        {% endif %}
        <br>

        <a onclick="event.stopPropagation();"
        href="{% url 'statements:statement_create' %}?parent={{ node.id }}">
            Add Child
        </a>
        |
        <a onclick="event.stopPropagation();"
        href="{% url 'statements:statement_update' node.id %}">
            Edit
        </a>
        |
        <a onclick="event.stopPropagation();"
        href="{% url 'statements:statement_delete' node.id %}">
            Delete
        </a>
    </div>

    {% if node.children.all %}
        <ul>
            {% for child in node.children.all %}
                {% include "statements/includes/node.html" with node=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>